* {
  box-sizing: border-box;
}

body {
  background-color: green;
}

h1 {
  float: right;
}

#Coin {
  max-height: 50px;
  position: absolute;
}

#Car {
  max-height: 100px;
  position: absolute;
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(90deg);
}
